body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(165, 202, 246, 1);
}
h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
p {
    font-weight: bold;
    font-size: 18pt;
    margin-top: 40px;
    text-align: justify;
}
.img img {
    width: 100%;
}
.img figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
}

.row {
    margin-top: 40px;
}